<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.CodeMapper">

    <select id="listType" resultType="java.lang.String">
        SELECT DISTINCT type_x FROM ${tablePrefix}code WHERE active_c != 'I'
    </select>

    <select id="listCodeByType" resultType="com.me.inner.dto.CodeDTO">
        SELECT
            codeId_n AS codeId,
            type_x AS type,
            name_x AS name,
            value_x AS value,
            desc_x AS description,
            active_c AS active,
            crtBy_m AS createBy,
            crtOn_dt AS createDate,
            DATE_FORMAT(crtOn_dt, '%Y-%m-%d %H:%i') AS createDateStr
        FROM ${tablePrefix}code
        WHERE active_c != 'I'
        <if test="type!=null and type!=''">
            AND type_x = #{type}
        </if>
        ORDER BY type_x ASC, codeId_n ASC
    </select>
    
    <select id="getCodeByTypeAndName" resultType="com.me.inner.dto.CodeDTO">
        SELECT
            codeId_n AS codeId,
            type_x AS type,
            name_x AS name,
            value_x AS value,
            desc_x AS description,
            active_c AS active,
            crtBy_m AS createBy,
            crtOn_dt AS createDate
        FROM ${tablePrefix}code WHERE type_x = #{type} AND name_x = #{name} AND active_c != 'I'
    </select>

    <select id="saveCode" parameterType="com.me.inner.dto.CodeDTO">
        INSERT INTO ${tablePrefix}code
        (
            type_x,
            name_x,
            value_x,
            desc_x,
            active_c,
            crtBy_m,
            crtOn_dt
        )
        VALUES
        (
            #{type, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{value, jdbcType=VARCHAR},
            #{description, jdbcType=VARCHAR},
            #{active, jdbcType=CHAR},
            #{createBy, jdbcType=VARCHAR},
            #{createDate, jdbcType=TIMESTAMP}
        )
    </select>

    <update id="updateCode" parameterType="com.me.inner.dto.CodeDTO">
        UPDATE ${tablePrefix}code SET
            type_x = #{type, jdbcType=VARCHAR},
            name_x = #{name, jdbcType=VARCHAR},
            value_x = #{value, jdbcType=VARCHAR},
            desc_x = #{description, jdbcType=VARCHAR}
        WHERE codeId_n = #{codeId, jdbcType=INTEGER}
    </update>

    <delete id="deleteCode" parameterType="java.lang.Integer">
        DELETE FROM ${tablePrefix}code WHERE codeId_n = #{codeId}
    </delete>

</mapper>