<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <bean id="dialectMysql" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.me.inner.dialect.DBDialect.MYSQL" />
    </bean>

    <bean id="dialectSQLServer" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.me.inner.dialect.DBDialect.SQLSERVER" />
    </bean>

    <bean id="dialectOracle" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.me.inner.dialect.DBDialect.ORACLE" />
    </bean>

</beans>