<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.ClazzMapper">

    <update id="deleteByFacultyId" parameterType="java.lang.Integer">
        UPDATE ems_class c
        LEFT JOIN ems_profession p ON c.professionId_n = p.professionId_n
        SET c.active_c = 'F'
        WHERE p.facultyId_n = #{facultyId, jdbcType=INTEGER} AND c.active_c = 'A'
    </update>

    <update id="deleteByProfessionId" parameterType="java.lang.Integer">
        UPDATE ems_class SET active_c = 'P' WHERE professionId_n = #{professionId, jdbcType=INTEGER} AND (active_c = 'A' OR active_c = 'F')
    </update>

    <update id="restoreByFacultyId" parameterType="java.lang.Integer">
        UPDATE ems_class c
        LEFT JOIN ems_profession p ON c.professionId_n = p.professionId_n
        SET c.active_c = 'A'
        WHERE p.facultyId_n = #{facultyId, jdbcType=INTEGER} AND c.active_c = 'F'
    </update>

    <update id="restoreByProfessionId" parameterType="java.lang.Integer">
        UPDATE ems_class SET active_c = 'A' WHERE professionId_n = #{professionId, jdbcType=INTEGER} AND active_c = 'P'
    </update>
    
    <select id="countByFacultyId" resultType="int">
        SELECT COUNT(1) FROM ems_class c
        LEFT JOIN ems_profession p ON c.professionId_n = p.professionId_n
        WHERE 1 = 1
        <if test="facultyId!=null and facultyId!=''">
            AND p.facultyId_n = #{facultyId, jdbcType=INTEGER}
        </if>
        <if test="professionId!=null and professionId!=''">
            AND c.professionId_n = #{professionId, jdbcType=INTEGER}
        </if>
        <if test="grade!=null and grade!=''">
            AND c.grade_m = #{grade, jdbcType=INTEGER}
        </if>
    </select>

    <select id="listClazzData" resultType="com.me.inner.dto.ClazzDTO">
        SELECT
            c.classId_n AS clazzId,
            c.grade_m AS gradeName,
            c.class_m AS clazzName,
            c.professionId_n AS professionId,
            c.active_c AS active,
            c.create_dt AS createDate,
            c.create_m AS createBy,
            f.name_m AS facultyName,
            f.active_c AS facultyActive,
            p.name_m AS professionName,
            p.active_c AS professionActive
        FROM ems_class c
        LEFT JOIN ems_profession p ON c.professionId_n = p.professionId_n
        LEFT JOIN ems_faculty f ON p.facultyId_n = f.facultyId_n
        WHERE 1 = 1
        <if test="facultyId!=null and facultyId!=''">
            AND p.facultyId_n = #{facultyId, jdbcType=INTEGER}
        </if>
        <if test="professionId!=null and professionId!=''">
            AND c.professionId_n = #{professionId, jdbcType=INTEGER}
        </if>
        <if test="grade!=null and grade!=''">
            AND c.grade_m = #{grade, jdbcType=INTEGER}
        </if>
        LIMIT #{pagination.begin}, #{pagination.limit}
    </select>

    <select id="listAllGrade" resultType="java.lang.String">
        SELECT DISTINCT grade_m FROM ems_class ORDER BY grade_m DESC
    </select>

    <select id="countClazzByCondition" resultType="int">
        SELECT COUNT(1) FROM ems_class
        WHERE 1 = 1
        <if test="professionId!=null and professionId!=''">
            AND professionId_n = #{professionId}
        </if>
        <if test="professionId!=null and professionId!=''">
            AND grade_m = #{gradeName}
        </if>
        <if test="professionId!=null and professionId!=''">
            AND class_m = #{clazzName}
        </if>
    </select>

    <insert id="saveClazz" parameterType="com.me.inner.dto.ClazzDTO">
        <if test="clazzList!=null and clazzList.size>0">
            INSERT INTO ems_class
            (
                grade_m,
                class_m,
                professionId_n,
                active_c,
                create_dt,
                create_m
            )
            VALUES
            <foreach collection="clazzList" item="clazz" separator=",">
            (
                #{clazz.gradeName, jdbcType=VARCHAR},
                #{clazz.clazzName, jdbcType=VARCHAR},
                #{clazz.professionId, jdbcType=INTEGER},
                #{clazz.active, jdbcType=CHAR},
                #{clazz.createDate, jdbcType=TIMESTAMP},
                #{clazz.createBy, jdbcType=VARCHAR}
            )
            </foreach>
        </if>
    </insert>

    <update id="deleteByClazzId" parameterType="java.lang.Integer">
        UPDATE ems_class SET active_c = 'I' WHERE classId_n = #{clazzId, jdbcType=INTEGER}
    </update>

</mapper>