<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.ClazzMapper">

    <update id="deleteByFacultyId" parameterType="java.lang.Integer">
        UPDATE ems_class c LEFT JOIN ems_profession p ON c.professionId_n = p.professionId_n
        SET c.active_c = 'I'
        WHERE p.facultyId_n = #{facultyId, jdbcType=INTEGER}
    </update>

    <update id="deleteByProfessionId" parameterType="java.lang.Integer">
        UPDATE ems_class SET active_c = 'P' WHERE professionId_n = #{professionId, jdbcType=INTEGER} AND (active_c = 'A' OR active_c = 'F')
    </update>

    <update id="restoreByFacultyId" parameterType="java.lang.Integer">
        UPDATE ems_class c LEFT JOIN ems_profession p ON c.professionId_n = p.professionId_n
        SET c.active_c = 'A'
        WHERE p.facultyId_n = #{facultyId, jdbcType=INTEGER} AND c.active_c = 'F'
    </update>

    <update id="restoreByProfessionId" parameterType="java.lang.Integer">
        UPDATE ems_class SET active_c = 'A' WHERE professionId_n = #{professionId, jdbcType=INTEGER}
    </update>

</mapper>