<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.CurriculumMapper">

    <delete id="deleteByFacultyId" parameterType="java.lang.Integer">
        DELETE c1 FROM ems_curriculum c1
        LEFT JOIN ems_profession p1 ON c1.professionId_n = p1.professionId_n
        LEFT JOIN ems_faculty f1 ON p1.facultyId_n = f1.facultyId_n
        WHERE f1.facultyId_n = #{facultyId, jdbcType=INTEGER}
    </delete>

    <delete id="deleteByProfessionId" parameterType="java.lang.Integer">
        DELETE FROM ems_curriculum WHERE professionId_n = #{professionId, jdbcType=INTEGER}
    </delete>

    <select id="listByTeacherId" parameterType="java.lang.Integer" resultType="com.me.inner.dto.CurriculumDTO">
        SELECT
            curriculumId_n AS curriculumId,
            subjectId_n AS subjectId,
            classId_n AS clazzId,
            professionId_n AS professionId,
            teacherId_n AS teacherId,
            semester_n AS semester,
            create_dt AS createDate,
            create_m AS createBy
        FROM ems_curriculum
        WHERE teacherId_n = #{teacherId, jdbcType=INTEGER}
    </select>

    <delete id="deleteByTeacherId" parameterType="java.lang.Integer">
        DELETE FROM ems_curriculum WHERE teacherId_n = #{teacherId, jdbcType=INTEGER}
    </delete>

    <select id="listBySubjectId" parameterType="java.lang.Integer" resultType="com.me.inner.dto.CurriculumDTO">
        SELECT
            curriculumId_n AS curriculumId,
            subjectId_n AS subjectId,
            classId_n AS clazzId,
            professionId_n AS professionId,
            teacherId_n AS teacherId,
            semester_n AS semester,
            create_dt AS createDate,
            create_m AS createBy
        FROM ems_curriculum
        WHERE subjectId_n = #{subjectId, jdbcType=INTEGER}
    </select>
    
    <delete id="deleteBySubjectId" parameterType="java.lang.Integer">
        DELETE FROM ems_curriculum WHERE subjectId_n = #{subjectId, jdbcType=INTEGER}
    </delete>

    <delete id="deleteByClazzId" parameterType="java.lang.Integer">
        DELETE FROM ems_curriculum WHERE classId_n = #{classId, jdbcType=INTEGER}
    </delete>

</mapper>