<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.FacultyMapper">

    <select id="listAllFaculty" resultType="com.me.inner.dto.FacultyDTO">
        SELECT
            facultyId_n AS facultyId,
            name_m AS name,
            create_dt AS createDate,
            create_m AS createBy,
            update_dt AS updateDate,
            update_m AS updateBy
        FROM ems_faculty
    </select>

    <select id="countFaculty" resultType="int">
        SELECT COUNT(1) FROM ems_faculty
        WHERE 1=1
        <if test="facultyName!=null and facultyName!=''">
            AND name_m LIKE CONCAT('%', #{facultyName, jdbcType=VARCHAR}, '%')
        </if>
    </select>

    <select id="listFacultyData" resultType="com.me.inner.dto.FacultyDTO">
        SELECT
            facultyId_n AS facultyId,
            name_m AS name,
            create_dt AS createDate,
            create_m AS createBy,
            update_dt AS updateDate,
            update_m AS updateBy
        FROM ems_faculty
        WHERE 1=1
        <if test="facultyName!=null and facultyName!=''">
            AND name_m LIKE CONCAT('%', #{facultyName, jdbcType=VARCHAR}, '%')
        </if>
        LIMIT #{pagination.begin}, #{pagination.limit}
    </select>

    <select id="countFacultyByName" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1) FROM ems_faculty WHERE name_m = #{name, jdbcType=VARCHAR}
    </select>

    <insert id="saveFaculty" parameterType="com.me.inner.dto.FacultyDTO">
        INSERT INTO ems_faculty
        (
            name_m,
            create_dt,
            create_m
        )
        VALUES
        (
            #{name, jdbcType=VARCHAR},
            #{createDate, jdbcType=TIMESTAMP},
            #{createBy, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteFacultyById" parameterType="java.lang.Integer">
        DELETE FROM ems_faculty WHERE facultyId_n = #{facultyId, jdbcType=INTEGER}
    </delete>

    <select id="getFaculty" parameterType="java.lang.Integer" resultType="com.me.inner.dto.FacultyDTO">
        SELECT
            facultyId_n AS facultyId,
            name_m AS name,
            create_dt AS createDate,
            create_m AS createBy,
            update_dt AS updateDate,
            update_m AS updateBy
        FROM ems_faculty
        WHERE facultyId_n = #{facultyId, jdbcType=INTEGER}
    </select>

    <update id="updateFaculty" parameterType="com.me.inner.dto.FacultyDTO">
        UPDATE ems_faculty SET
          name_m = #{name, jdbcType=VARCHAR},
          update_dt = #{updateDate, jdbcType=TIMESTAMP},
          update_m = #{updateBy, jdbcType=VARCHAR}
        WHERE facultyId_n = #{facultyId, jdbcType=INTEGER}
    </update>

</mapper>