<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.ProfessionMapper">

    <select id="countProfessionByFacultyId" resultType="int">
        SELECT COUNT(1)
        FROM ems_profession p
        LEFT JOIN ems_faculty f ON p.facultyId_n = f.facultyId_n
        <if test="facultyId!=null and facultyId!=''">
            WHERE f.facultyId_n = #{facultyId, jdbcType=INTEGER}
        </if>
    </select>
    
    <select id="listProfessionByFacultyId" resultType="com.me.inner.dto.ProfessionDTO">
        SELECT
            p.professionId_n AS professionId,
            p.facultyId_n AS facultyId,
            p.name_m AS name,
            p.active_c AS active,
            p.create_dt AS createDate,
            p.create_m AS createBy,
            p.update_dt AS updateDate,
            p.update_m AS updateBy,
            f.name_m AS facultyName,
            f.active_c AS facultyActive
        FROM ems_profession p
        LEFT JOIN ems_faculty f ON p.facultyId_n = f.facultyId_n
        <if test="facultyId!=null and facultyId!=''">
            WHERE f.facultyId_n= #{facultyId, jdbcType=INTEGER}
        </if>
        LIMIT #{pagination.begin}, #{pagination.limit}
    </select>

    <select id="listAllByFacultyId" resultType="com.me.inner.dto.ProfessionDTO">
        SELECT
            p.professionId_n AS professionId,
            p.facultyId_n AS facultyId,
            p.name_m AS name,
            p.active_c AS active,
            p.create_dt AS createDate,
            p.create_m AS createBy,
            p.update_dt AS updateDate,
            p.update_m AS updateBy,
            f.name_m AS facultyName,
            f.active_c AS facultyActive
        FROM ems_profession p
        LEFT JOIN ems_faculty f ON p.facultyId_n = f.facultyId_n
        <if test="facultyId!=null and facultyId!=''">
            WHERE f.facultyId_n= #{facultyId, jdbcType=INTEGER}
        </if>
    </select>

    <select id="countProfessionByCondition" parameterType="com.me.inner.dto.ProfessionDTO" resultType="int">
        SELECT COUNT(1) FROM ems_profession
        WHERE facultyId_n = #{facultyId, jdbcType=INTEGER} AND name_m = #{name, jdbcType=VARCHAR}
    </select>

    <insert id="saveProfession" parameterType="com.me.inner.dto.ProfessionDTO">
        INSERT INTO ems_profession
        (
            facultyId_n,
            name_m,
            active_c,
            create_dt,
            create_m
        )
        VALUES
        (
            #{facultyId, jdbcType=INTEGER},
            #{name, jdbcType=VARCHAR},
            #{active, jdbcType=CHAR},
            #{createDate, jdbcType=TIMESTAMP},
            #{createBy, jdbcType=VARCHAR}
        )
    </insert>

    <select id="getByProfessionId" parameterType="java.lang.Integer" resultType="com.me.inner.dto.ProfessionDTO">
        SELECT
            p.professionId_n AS professionId,
            p.facultyId_n AS facultyId,
            p.name_m AS name,
            p.active_c AS active,
            p.create_dt AS createDate,
            p.create_m AS createBy,
            p.update_dt AS updateDate,
            p.update_m AS updateBy,
            f.name_m AS facultyName,
            f.active_c AS facultyActive
        FROM ems_profession p
        LEFT JOIN ems_faculty f ON p.facultyId_n = f.facultyId_n
        WHERE p.professionId_n = #{professionId, jdbcType=INTEGER}
    </select>

    <update id="updateProfession" parameterType="com.me.inner.dto.ProfessionDTO">
        UPDATE ems_profession SET
            name_m = #{name, jdbcType=VARCHAR},
            update_dt = #{updateDate, jdbcType=TIMESTAMP},
            update_m = #{updateBy, jdbcType=VARCHAR}
        WHERE professionId_n = #{professionId, jdbcType=INTEGER}
    </update>

    <update id="deleteByFacultyId" parameterType="java.lang.Integer">
        UPDATE ems_profession SET active_c = 'F' WHERE facultyId_n = #{facultyId, jdbcType=INTEGER} AND active_c = 'A'
    </update>

    <update id="deleteByProfessionId" parameterType="java.lang.Integer">
        UPDATE ems_profession SET active_c = 'I' WHERE professionId_n = #{professionId, jdbcType=INTEGER}
    </update>

    <update id="restoreByFacultyId" parameterType="java.lang.Integer">
        UPDATE ems_profession SET active_c = 'A' WHERE facultyId_n = #{facultyId, jdbcType=INTEGER} AND active_c = 'F'
    </update>

    <update id="restoreByProfessionId" parameterType="java.lang.Integer">
        UPDATE ems_profession p
        LEFT JOIN ems_faculty f ON p.facultyId_n = f.facultyId_n
        SET p.active_c = 'A'
        WHERE p.professionId_n = #{professionId, jdbcType=INTEGER} AND f.active_c = 'A'
    </update>

    <select id="getBySubjectId" parameterType="java.lang.Integer" resultType="com.me.inner.dto.ProfessionDTO">
        SELECT
            p.professionId_n AS professionId,
            p.facultyId_n AS facultyId,
            p.name_m AS name,
            p.active_c AS active,
            p.create_dt AS createDate,
            p.create_m AS createBy,
            p.update_dt AS updateDate,
            p.update_m AS updateBy
        FROM ems_profession2subject ps
        LEFT JOIN ems_profession p ON ps.professionId_n = p.professionId_n
        WHERE ps.subjectId_n = #{subjectId, jdbcType=INTEGER}
    </select>

</mapper>