<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.StudentMapper">

    <select id="listStudentByProfessionId" parameterType="java.lang.Integer" resultType="com.me.inner.dto.StudentDTO">
        SELECT
            studentId_n AS studentId,
            number_x AS number,
            name_m AS name,
            professionId_n AS professionId,
            classId_n AS clazzId,
            from_x AS from,
            age_n AS age,
            sex_n AS sex,
            birth_dt AS birthDate,
            active_c AS active,
            create_dt AS createDate,
            create_m AS createBy,
            update_dt AS updateDate,
            update_m AS updateBy
        FROM ems_student
        WHERE active_c = 'A' AND professionId_n = #{professionId, jdbcType=INTEGER}
    </select>

</mapper>