<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.TeacherMapper">

    <delete id="deleteTeacherByFacultyId" parameterType="java.lang.Integer">
        DELETE t1 FROM ems_teacher t1
        LEFT JOIN ems_faculty f1 ON t1.facultyId_n = f1.facultyId_n
        WHERE f1.facultyId_n = #{facultyId, jdbcType=INTEGER}
    </delete>

</mapper>