<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.inner.mapper.TeacherMapper">

    <delete id="deleteTeacherByFacultyId" parameterType="java.lang.Integer">
        DELETE FROM ems_teacher WHERE facultyId_n = #{facultyId, jdbcType=INTEGER}
    </delete>

    <select id="countTeacherByCondition" resultType="int">
        SELECT COUNT(1) FROM ems_teacher
        <if test="facultyId!=null and facultyId!=''">
            WHERE facultyId_n = #{facultyId, jdbcType=INTEGER}
        </if>
    </select>

    <select id="listTeacherByCondition" resultType="com.me.inner.dto.TeacherDTO">
        SELECT
            t.teacherId_n AS teacherId,
            t.number_x AS number,
            t.name_m AS name,
            t.facultyId_n AS facultyId,
            t.age_n AS age,
            t.sex_n AS sex,
            t.birth_dt AS birthDate,
            t.create_dt AS createDate,
            t.create_m AS createBy,
            t.update_dt AS updateDate,
            t.update_m AS updateBy,
            f.name_m AS facultyName,
            DATE_FORMAT(t.birth_dt, '%Y-%m-%d') AS birthDateStr
        FROM ems_teacher t
        LEFT JOIN ems_faculty f ON t.facultyId_n = f.facultyId_n
        WHERE 1=1
        <if test="facultyId!=null and facultyId!=''">
            AND f.facultyId_n = #{facultyId, jdbcType=INTEGER}
        </if>
        LIMIT #{pagination.begin}, #{pagination.limit}
    </select>
    
    <insert id="saveTeacher" parameterType="com.me.inner.dto.TeacherDTO">
        INSERT INTO ems_teacher
        (
            number_x,
            name_m,
            facultyId_n,
            age_n,
            sex_n,
            birth_dt,
            create_dt,
            create_m
        )
        VALUES
        (
            #{number, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{facultyId, jdbcType=INTEGER},
            #{age, jdbcType=INTEGER},
            #{sex, jdbcType=INTEGER},
            #{birthDate, jdbcType=TIMESTAMP},
            #{createDate, jdbcType=TIMESTAMP},
            #{createBy, jdbcType=VARCHAR}
        )
    </insert>

    <select id="getTeacherById" parameterType="java.lang.Integer" resultType="com.me.inner.dto.TeacherDTO">
        SELECT
            t.teacherId_n AS teacherId,
            t.number_x AS number,
            t.name_m AS name,
            t.facultyId_n AS facultyId,
            t.age_n AS age,
            t.sex_n AS sex,
            t.birth_dt AS birthDate,
            t.create_dt AS createDate,
            t.create_m AS createBy,
            t.update_dt AS updateDate,
            t.update_m AS updateBy,
            f.name_m AS facultyName,
            DATE_FORMAT(t.birth_dt, '%Y-%m-%d') AS birthDateStr
        FROM ems_teacher t
        LEFT JOIN ems_faculty f ON t.facultyId_n = f.facultyId_n
        WHERE t.teacherId_n = #{teacherId, jdbcType=INTEGER}
    </select>

    <update id="updateTeacher" parameterType="com.me.inner.dto.TeacherDTO">
        UPDATE ems_teacher SET
            name_m = #{name, jdbcType=VARCHAR},
            age_n = #{age, jdbcType=INTEGER},
            sex_n = #{sex, jdbcType=INTEGER},
            birth_dt = #{birthDate, jdbcType=TIMESTAMP},
            update_dt = #{updateDate, jdbcType=TIMESTAMP},
            update_m = #{updateBy, jdbcType=VARCHAR}
        WHERE teacherId_n = #{teacherId, jdbcType=INTEGER}
    </update>

</mapper>